body {
  font-family: var(--main-font-family);
  color: var(--main-text-color);
  font-style: var(--main-font-style);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
ul,
ol,
li {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding-left: 0;
  list-style: none;
}

img,
a,
b {
  display: block;
}

.link {
  text-decoration: none;
  color: inherit;
  -webkit-transition: color 250ms var(--transition-timing-function);
  transition: color 250ms var(--transition-timing-function);
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.logo,
.logo-footer {
  font-family: var(--accent-font-family);
  color: var(--main-logo-color);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .logo,
  .logo-footer {
    font-size: 26px;
  }
}

.logo-footer {
  color: white;
}

.header-page__logo {
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .header-page__logo {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
  }
}

.header-page__web {
  color: var(--accent-color);
}

.menu-close {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  border: none;
}

.nav-page__list {
  font-size: 40px;
  line-height: 1.172;
  letter-spacing: 0.02em;
  font-weight: 500;
  text-align: left;
  color: #212121;
}

.nav-page__link:hover, .nav-page__link:focus, .nav-page__link:active {
  color: var(--accent-color);
}

.nav-page__link--current {
  color: var(--accent-color);
}

.contacts-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: auto;
  font-size: 18px;
  line-height: 1.172;
  letter-spacing: 0.02em;
  font-weight: 500;
  text-align: left;
}

.contacts-list__link:hover, .contacts-list__link:focus {
  color: var(--accent-color);
}

.mob-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 64px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.mob-social__item {
  color: var(--accent-color);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 10px;
  line-height: 1.222;
  letter-spacing: 0.02em;
  font-weight: 500;
  text-align: left;
}

.mob-social__item:not(:last-child) {
  border-right: 1px solid var(--accent-color);
  padding-right: 5px;
}

.projects-wrapper__img {
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.header-container {
  position: relative;
}

@media screen and (min-width: 480px) {
  .header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 80px;
  }
}

@media screen and (max-width: 767px) {
  .header-container.is-hidden {
    width: 100vw;
    max-width: none;
  }
}

.header-page {
  border-bottom: 1px solid #ececec;
}

.open-button {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  border: none;
}

.mob-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 48px;
  padding-bottom: 48px;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  z-index: 999;
  opacity: 1;
  pointer-events: auto;
  overflow: visible;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.overlay-section {
  max-width: 1600px;
  background-color: var(--dark-background-color);
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  background-repeat: repeat;
  background-position: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/desktop/hero-bgc-image-desk-img-1x-min.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/desktop/hero-bgc-image-desk-img-1x-min.jpg");
  background-size: cover;
}

@media screen and (min-width: 1200px) {
  .overlay-section {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .overlay-section {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/desktop/hero-bgc-image-desk-img-2x-min.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/desktop/hero-bgc-image-desk-img-2x-min.jpg");
  }
}

@media screen and (min-width: 481px) {
  .overlay-section {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/tablet/hero-bgc-image-tabl-img-1x-min.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/tablet/hero-bgc-image-tabl-img-1x-min.jpg");
  }
}

@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .overlay-section {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/tablet/hero-bgc-image-tabl-img-2x-min.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/tablet/hero-bgc-image-tabl-img-2x-min.jpg");
  }
}

@media screen and (min-width: 769px) {
  .overlay-section {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/mobile/hero-bgc-image-mob-img-1x-min.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/mobile/hero-bgc-image-mob-img-1x-min.jpg");
  }
}

@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .overlay-section {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/mobile/hero-bgc-image-mob-img-2x-min.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/mobile/hero-bgc-image-mob-img-2x-min.jpg");
  }
}

.overlay-title {
  color: var(--white-color);
  margin-bottom: 30px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .overlay-title {
    font-size: 44px;
    line-height: 1.363;
  }
}

.overlay-container {
  text-align: center;
}

.overlay-button {
  display: inline-block;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}

.overlay-button:hover, .overlay-button:focus, .overlay-button:active {
  background-color: var(--dark-background-color);
}

.advantage-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .advantage-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.advantage-list {
  font-size: 14px;
  text-align: left;
  letter-spacing: 0.03em;
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .advantage-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
  }
}

.advantage-list__item {
  width: 100%;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .advantage-list__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .advantage-list__item {
    -ms-flex-preferred-size: calc((100% - 120px) / 4);
        flex-basis: calc((100% - 120px) / 4);
    margin-left: 30px;
  }
}

.advantage-list__title {
  margin-bottom: 10px;
  text-align: center;
  font-size: 14px;
  line-height: 1.143;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .advantage-list__title {
    text-align: left;
  }
}

.advantage-list__description {
  line-height: 1.714;
}

.advantage-icon {
  margin-bottom: 30px;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  background-color: var(--light-color-fon);
}

.advantage-icon__svg {
  display: block;
  width: 70px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
}

.services-section {
  padding-bottom: 94px;
  text-align: center;
}

@media screen and (max-width: 1199px) {
  .services-section {
    display: none;
  }
}

.services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services-list__item {
  display: block;
  position: relative;
  width: 370px;
}

.services-list__item + .advantage-list__item {
  margin-left: 30px;
}

.develop-fon {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.develop-fon__name {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-transform: uppercase;
  color: var(--white-color);
}

.team-section {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .team-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team-list {
  font-size: 16px;
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
  }
}

.team-list__item {
  display: block;
  width: 100%;
  margin-bottom: 30px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 768px) {
  .team-list__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list__item {
    -ms-flex-preferred-size: calc((100% - 120px) / 4);
        flex-basis: calc((100% - 120px) / 4);
  }
}

@media screen and (max-width: 1199px) {
  .team-list__item .team-title {
    font-size: 28px;
    margin-bottom: 30px;
  }
}

.team-data {
  padding: 30px;
}

.team-data__name {
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 1.188;
  font-size: 16px;
}

.team-data__position {
  margin-bottom: 16px;
  font-weight: 400;
  line-height: 1.188;
  font-size: 16px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: background-color var(--transition-duration) var(--transition-timing-function);
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.social-list__link:hover, .social-list__link:focus, .social-list__link:active {
  background-color: var(--accent-color);
}

.social-list__svg {
  fill: var(--icon-fill);
  -webkit-transition: fill var(--transition-duration) var(--transition-timing-function);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.social-list__link--light,
.social-list_link--dark {
  -webkit-transition: background-color var(--transition-duration) var(--transition-timing-function);
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.social-list__link--light:hover .social-list__svg,
.social-list__link--light:focus .social-list__svg,
.social-list_link--dark:hover .social-list__svg,
.social-list_link--dark:focus .social-list__svg {
  fill: var(--white-color);
}

.button-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: -15px;
  margin-left: -8px;
}

.button-list__item {
  padding: 6px 22px;
  min-width: auto;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  background-color: #f5f4fa;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media screen and (min-width: 1200px) {
  .button-list__item {
    line-height: 1.6325;
    text-align: center;
  }
}

.button-list__btn {
  font-weight: 500;
  font-size: 16px;
  font-family: inherit;
  border-radius: 4px;
  cursor: pointer;
  background: none;
  padding: 6px 22px;
  border: none;
  background-color: var(--color-button-list-btn);
  -webkit-transition: color var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function), -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
  transition: color var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function), -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
  transition: color var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function), box-shadow var(--transition-duration) var(--transition-timing-function);
  transition: color var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function), box-shadow var(--transition-duration) var(--transition-timing-function), -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
}

.projects-list__item {
  border-bottom: 1px solid #eeeeee;
}

.projects-list__link {
  display: block;
  width: 370px;
  -webkit-transition: -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
  transition: -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
  transition: box-shadow var(--transition-duration) var(--transition-timing-function);
  transition: box-shadow var(--transition-duration) var(--transition-timing-function), -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
}

.projects-list__link:hover, .projects-list__link:focus, .projects-list__link:active {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-list__link:hover .overlay-description,
.projects-list__link:focus .overlay-description {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.projects-list__item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.projects-list__item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.projects-data {
  padding: 20px 24px;
  border-bottom: 1px solid var(--card-border-color);
  border-right: 1px solid var(--card-border-color);
  border-left: 1px solid var(--card-border-color);
}

.projects-data__name {
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects-data__type {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}

.projects-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay-description {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  overflow: auto;
  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  padding-left: 24px;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background: rgba(33, 150, 243, 0.9);
  color: var(--color-projects-wrapper);
  opacity: 0;
  -webkit-transition: opacity var(--transition-duration) var(--transition-timing-function), -webkit-transform var(--transition-duration) var(--transition-timing-function);
  transition: opacity var(--transition-duration) var(--transition-timing-function), -webkit-transform var(--transition-duration) var(--transition-timing-function);
  transition: transform var(--transition-duration) var(--transition-timing-function), opacity var(--transition-duration) var(--transition-timing-function);
  transition: transform var(--transition-duration) var(--transition-timing-function), opacity var(--transition-duration) var(--transition-timing-function), -webkit-transform var(--transition-duration) var(--transition-timing-function);
}

:root {
  --title-text-color: #212121;
  --white-color: #ffffff;
  --main-text-color: #757575;
  --accent-color: #2196f3;
  --main-font-family: 'Roboto', sans-serif;
  --main-font-style: normal;
  --accent-font-family: 'Raleway', 'Arial', 'Helvetica', sans-serif;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --color-button-list-btn: #f5f4fa;
  --dark-background-color: #188ce8;
  --background-color-fon: #2f303a;
  --light-color-fon: #f5f4fa;
  --main-logo-color: #000000;
  --card-border-color: #eeeeee;
  --bcg-color-projects-wrapper: rgba(33, 150, 243, 0, 9);
  --color-projects-wrapper: rgba(255, 255, 255, 1);
  --overlay-color: rgba(33, 150, 243, 0.9);
  --icon-fill: #afb1b8;
  --icon-dark-theme: rgba(255, 255, 255, 0.1);
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
/*# sourceMappingURL=main.css.map */