.team-section {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.team-list {
  font-size: 16px;
  margin-bottom: -30px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.team-list__item {
  display: block;
  width: 100%;
  margin-bottom: 30px;

  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;

  background: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 120px) / 4);
  }

  .team-title {
    @media screen and (max-width: 1199px) {
      font-size: 28px;
      margin-bottom: 30px;
    }
  }
}
.team-data {
  padding: 30px;
}
.team-data__name {
  margin-bottom: 10px;

  font-weight: 500;
  line-height: 1.188;
  font-size: 16px;
}
.team-data__position {
  margin-bottom: 16px;

  font-weight: 400;
  line-height: 1.188;
  font-size: 16px;
}
.social-list {
  display: flex;
  justify-content: center;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: background-color var(--transition-duration)
    var(--transition-timing-function);

  &:hover,
  &:focus,
  &:active {
    background-color: var(--accent-color);
  }
}

.social-list__svg {
  fill: var(--icon-fill);

  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.social-list__link--light,
.social-list_link--dark {
  transition: background-color var(--transition-duration)
    var(--transition-timing-function);

  &:hover .social-list__svg,
  &:focus .social-list__svg {
    fill: var(--white-color);
  }
}
