body {
  font-family: var(--main-font-family);
  color: var(--main-text-color);
  font-style: var(--main-font-style);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
ul,
ol,
li {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding-left: 0;
  list-style: none;
}

img,
a,
b {
  display: block;
}

.link {
  text-decoration: none;
  color: inherit;
  transition: color 250ms var(--transition-timing-function);
}
