:root {
  --title-text-color: #212121;
  --white-color: #ffffff;
  --main-text-color: #757575;
  --accent-color: #2196f3;
  --main-font-family: 'Roboto', sans-serif;
  --main-font-style: normal;
  --accent-font-family: 'Raleway', 'Arial', 'Helvetica', sans-serif;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --color-button-list-btn: #f5f4fa;
  --dark-background-color: #188ce8;
  --background-color-fon: #2f303a;
  --light-color-fon: #f5f4fa;
  --main-logo-color: #000000;
  --card-border-color: #eeeeee;
  --bcg-color-projects-wrapper: rgba(33, 150, 243, 0, 9);
  --color-projects-wrapper: rgba(255, 255, 255, 1);
  --overlay-color: rgba(33, 150, 243, 0.9);

  --icon-fill: #afb1b8;
  --icon-dark-theme: rgba(255, 255, 255, 0.1);

  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
